body {
  background-color: #222;
  color: #eee;

  width: 16rem;
  height: 4rem;
}

.special-text {
  color: red;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}
